{extend name="base:common" /}
{block name="body"}
<div class="main-content">
    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="header smaller lighter blue">
                            <button class="btn btn-primary" onclick="location.href='{:url('account/add')}'">添加管理员</button>
                        </h3>
                        <div class="table-header">
                            管理员列表
                        </div>

                        <div class="table-responsive">
                            <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="center">
                                        <label>
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th>账户名</th>
                                    <th>状态</th>
                                    <th>登录时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>

                                <tbody>
                                    {volist name="list" id="row"}
                                        <tr>
                                            <td class="center">
                                                <label>
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                            <td>{$row.username}</td>
                                            <td class="hidden-480">
                                                {if condition="$row.status==0"}
                                                    <span class="label label-sm label-warning">禁止</span>
                                                {else}
                                                    <span class="label label-sm label-success">正常</span>
                                                {/if}
                                            </td>
                                            <td>{$row.logintime|date="Y-m-d H:i:s"}</td>
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="green" href="{:url('account/edit')}">
                                                        <i class="icon-pencil bigger-130"></i>
                                                    </a>
                                                    <a class="red" href="#">
                                                        <i class="icon-trash bigger-130"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {/volist}
                                </tbody>
                            </table>
                        </div>
                        {$page|raw}
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->
{/block}
{block name="script"}{/block}