<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>控制台 - Bootstrap后台管理系统模版Ace下载</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="__STATIC__/ace/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__STATIC__/ace/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="__STATIC__/ace/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- ace styles -->

    <link rel="stylesheet" href="__STATIC__/ace/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__STATIC__/ace/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__STATIC__/ace/assets/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__STATIC__/ace/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="__STATIC__/ace/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="__STATIC__/ace/assets/js/html5shiv.js"></script>
    <script src="__STATIC__/ace/assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        .main-content {
            margin-left: 0;
        }
    </style>
</head>

<body>

<div class="main-container" id="main-container">

    <div class="main-container-inner">

        {block name="body"}{/block}

    </div><!-- /.main-container-inner -->

</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="__STATIC__/ace/assets/js/jquery-2.0.3.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__STATIC__/ace/assets/js/jquery-1.10.2.min.js"></script>
<![endif]-->

<script src="__STATIC__/ace/assets/js/jquery.mobile.custom.min.js"></script>
<script src="__STATIC__/ace/assets/js/bootstrap.min.js"></script>
<script src="__STATIC__/ace/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="__STATIC__/ace/assets/js/excanvas.min.js"></script>
<![endif]-->

<script src="__STATIC__/ace/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__STATIC__/ace/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="__STATIC__/ace/assets/js/jquery.slimscroll.min.js"></script>
<script src="__STATIC__/ace/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="__STATIC__/ace/assets/js/jquery.sparkline.min.js"></script>
<script src="__STATIC__/ace/assets/js/flot/jquery.flot.min.js"></script>
<script src="__STATIC__/ace/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="__STATIC__/ace/assets/js/flot/jquery.flot.resize.min.js"></script>

<!-- ace scripts -->
<script type="text/javascript">
    jQuery(function($) {
        $('table th input:checkbox').on('click' , function(){
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                    .each(function(){
                        this.checked = that.checked;
                        $(this).closest('tr').toggleClass('selected');
                    });

        });
    })
</script>
<script src="__STATIC__/ace/assets/js/ace-elements.min.js"></script>
<script src="__STATIC__/ace/assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
{block name="script"}{/block}
</body>
</html>

